body{
    padding: 0;
    margin: 0;
    background-color: #DAF5FF;
    line-height: 1.6rem;
    font-family: 'Poppins', sans-serif;
}
/* .color-palleate{
    color: #FEFF86;
    background-color: #B0DAFF;
    background-color: #B9E9FC;
} */
.navbar-nav a{
    font-size: 1.2rem;
    padding: 10px 30px;
    margin: 0px 20px;
    color: white;
}
.nav-link:hover{
    color: #ffce10;
}
.active{
    color: #ffce10!important;
}
.text-primary{
    color: #ffce10!important;
}
.bg-primary{
    background-color: #ffce10!important;
}
.btn-primary{
    background-color: transparent!important;
    border-color: #ffce10!important;
    color: #ffce10!important;
}
.btn-primary:hover{
    background-color: #ffce10!important;
    color: white!important;
}
.btn-outline-primary{
    color: #ffce10!important;
    border-color: #ffce10!important;
}
.btn-outline-primary:hover{
    color: white!important;
    border-color: #ffce10!important;
    background-color: #ffce10;
}
.carousel-item img{
    filter: brightness(60%);
}
.carousel-caption {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding-top: 20px;
    padding-bottom: 20px;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1;
  }
  .carousel-caption p{
    width: 30%;
  }
  .btn-block {
    display: block;
    width: 100%;
  }
.service{
    background-color: hsl(0, 0%, 100%);
    border-color: white;
}
.service p{
    text-align: justify;
}

.contact{
    background-color: #B0DAFF;
}

.service-1:hover{
    background-image: linear-gradient(rgba(0,0,0,0.6) , rgba(0,0,0,0.6)) , url('Img/Feature-1.webp');
    background-size: cover;
    background-position: center center;
    color: white;
    box-shadow: 0 0 30px rgb(38, 36, 36);
    transform: scale(1.05);
}
.service-2:hover{
    background-image: linear-gradient(rgba(0,0,0,0.6) , rgba(0,0,0,0.6)) , url('Img/Feature-2.webp');
    background-size: cover;
    background-position: center center;
    color: white;
    box-shadow: 0 0 30px rgb(38, 36, 36);
    transform: scale(1.05);
}
.service-3:hover{
    background-image: linear-gradient(rgba(0,0,0,0.6) , rgba(0,0,0,0.6)) , url('Img/Feature-3.webp');
    background-size: cover;
    background-position: center center;
    color: white;
    box-shadow: 0 0 30px rgb(38, 36, 36);
    transform: scale(1.05);
}
.back-to-top {
    position: fixed;
    display: none;
    right: 45px;
    bottom: 45px;
    z-index: 11;
  }

  .page-header{
    background: linear-gradient(rgba(0,0,0,0.6) , rgba(0,0,0,0.6)) , url('Img/Carousel-1.webp') no-repeat center center;
    background-size: cover;
  }
  .accordion{
    --bs-accordion-btn-focus-box-shadow: 0 0 0 0.25rem #ffce10;
  }
  .accordion-button{
    background-color: #ffce10!important;
  }
  .accordion-button:focus{
    background-color: #ffce10!important;
  }


  .modal-content{
    background: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)), url('Img/popup.webp') no-repeat center center!important;
    background-size: cover;
  }
  .btn-close{
    display: none;
  }

  @media (max-width: 1000px) {
    .carousel-caption h1{
        font-size: 2.5rem;
    }
    .carousel-caption p{
        width: 45%;
    }
  }
  @media (max-width: 700px) {
    .carousel-caption h1{
        font-size: 1.6rem;
    }
    .carousel-caption p{
        width: 60%;
        font-size: 1rem;
    }
    .carousel-caption button{
        display: none;
    }
  }
  @media (max-width: 550px) {
    .carousel-caption h1{
        font-size: 1.1rem;
    }
    .carousel-caption p{
        width: 60%;
        font-size: 0.7rem;
        line-height: 1rem;
    }
    
  }
  @media (max-width: 450px) {
    .carousel-caption h1{
        font-size: 0.9rem;
    }
    .carousel-caption p{
        width: 60%;
        font-size: 0.6rem;
    }
    
  }
  @media (max-width: 350px) {
    .carousel-caption h1{
        font-size: 0.7rem;
    }
    .carousel-caption p{
        width: 60%;
        font-size: 0.4rem;
    }
    
  }
  @media (max-width: 290px) {
    .carousel-caption h1{
        font-size: 0.5rem;
    }
    .carousel-caption p{
        width: 60%;
        font-size: 0.25rem;
    }
    
  }